.app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

textarea {
  resize: none;
  font-family: Consolas,monaco,monospace !important;
}

.version-label {
  margin-left: 0.2em;
  font-size: 0.5em !important;
  background: rgba(255,255,255,0.1) !important;
  color: white !important;
}

.uk-table {
  table-layout:fixed;

  td {
    padding: 2px;
    text-align: center;
  }
}

.uk-button-round {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  padding: 2px;
  width: 45px;
  height: 45px;
}
.uk-button-round-large {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  padding: 2px;
  width: 60px;
  height: 60px;
  line-height: 50px;
}


.channel-tree--view {
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
}

.channel-item--tools {
  width: 60px;
  text-align: center;
}

@media(max-width:900px) {
  .channel-item--card {
    width: 80% !important;
  }
}
